{% extends 'flatpages/default_edit_feature.html'%}
{% block content_1 %}
<!--    {% csrf_token %}-->
    {{ form.media }}
{% endblock content_1 %}
{% block title %}

Edit or create object
{% endblock title %}

{% block content_2 %}
    {% csrf_token %}
    {{ form.as_table }}

{% endblock content_2 %}



{% block content_3 %}
{{ attr_form.as_p }}
{% endblock content_3 %}
{% block content_4 %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<br>
<input type="submit" value="Save"/>
&nbsp;
<input type="submit" name="delete" value="Delete object"/>
&nbsp;
<button type="button" onClick='window.location="/{{ shapefile.id }}/edit/";'>
    Cancel
</button>
{% endblock content_4 %}

