{% extends 'flatpages/default_select_feature.html'%}
{% block content2 %}


<link rel="stylesheet" href="http://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
    <script src="http://openlayers.org/en/v3.20.1/build/ol.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    function init() {
    var url_template='{{ tms_url }}1.0/{{ shapefile.id }}/{z}/{x}/{y}.png/';
    var projection = ol.proj.get('EPSG:4326');
    var source = new ol.source.XYZ({
        crossOrigin: 'null',
        wrapX: false,
        projection: projection,
        tileUrlFunction: function(tileCoord) {
            var z = tileCoord[0] - 1;
            var x = tileCoord[1];
            var y = Math.pow(2, z) + tileCoord[2];
            return url_template.replace('{z}', z.toString())
                               .replace('{x}', x.toString())
                               .replace('{y}', y.toString());
                               },
        });

    var layer = new ol.layer.Tile({source: source,
                                   projection: projection,
                                   });


    var view = new ol.View({center: [0, 0],
                            zoom: 1,
                            projection: projection,
                            });

    var map = new ol.Map({target: "map",
                          layers: [layer],
                          view: view});
    map.on ("singleclick", function(e) {
        var request = jQuery.ajax({
            url : "/find_feature/",
            data : {id : {{ shapefile.id }},
            latitude : e.coordinate[1],
            longitude : e.coordinate[0]},
            success: function(response) {
                if (response != "") {
                    window.location.href = response
                }
            }
        });
    });
    }


    </script>
{% endblock content2 %}
{% block title %}
Edit object shape
{% endblock title %}
{% block content %}
{% if user == shapefile.author %}
Please, select object for changing or add new object
{% else %}
You can't edit shapefile {{ shapefile.filename }} because you are not the owner, try to add it in your profile.
{% endif %}
{% endblock content %}
{% block content1 %}
<br>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if user == shapefile.author %}
<br>
<button type="button" onClick='window.location="{{ add_feature_url }}";'> Add object</button>
<br>
{% endif %}
<br>
<button onClick='window.location="/{{ shapefile.id }}/";' type="button"> Cancel</button>
<br>

{% endblock content1 %}
