<!DOCTYPE html>
<html>
  <head>
    <title>ShapeEditor</title>
  </head>
  <body>
    <h1>ShapeEditor</h1>
{% if file %}
      <tr>
        <td>
          {{ file.filename }}
        </td>
        <td>&nbsp;</td>
        <td>
          <a href="/{{ file.id }}/edit">Edit</a>
        </td>
        <td>&nbsp;</td>
        <td>
          <a href="/{{ file.id }}/export">Export</a>
        </td>
        <td>&nbsp;</td>
        <td>
          <a href="/{{ file.id }}/delete">Delete</a>
        </td>
      </tr>
    {% else %}
File not found <br>
{% endif %}
    <button type="button"
            onClick='window.location="/import";'>
      Import New Shapefile
    </button>
  </body>
</html>