{% extends 'flatpages/default_detail.html'%}
{% block title %}
{% if file %}
{{ file.filename }}
{% else %}
File not found
{% endif %}
{% endblock title %}

{% block content4 %}
{% if messages %}
{% for message in messages %}
    {% if message.tags == "error" %}
        {{ message }}
        {% endif %}
    {% endfor %}
{% else %}
You can view and edit, export or delete your shapefile
{% endif %}
{% endblock content4 %}

{% block content1 %}
<a href="/{{ file.id }}/edit/">Edit</a>
{% endblock content1 %}
{% block content2 %}
<a href="/{{ file.id }}/export/">Export</a>
{% endblock content2 %}
{% block content3 %}
<a href="/{{ file.id }}/delete/">Delete</a>
{% endblock content3 %}
{% block content5 %}
<a href="/{{ file.id }}/add/">Add</a>
{% endblock content5 %}




